* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 95%);
}

main {
  min-height: 50vh;
  width: 50%;
  margin: 100px auto;
  display: grid;
  gap: 15px;
  grid-template-areas:
    "a a b"
    "c d d"
    "c e e";
}

.next {
  background-color: hsl(0, 0%, 95%);
  padding: 8px;
  border-radius: 24px;
  text-decoration: none;
}

main div {
  padding: 3.5rem;
  text-align: center;
  /* width: 100%; */
}

.one {
  background-color: rgb(230, 86, 34);
  grid-area: a;
}
.two {
  background-color: orange;
  grid-area: b;
}
.three {
  background-color: rgb(19, 179, 27);
  grid-area: c;
}
.four {
  background-color: rgb(48, 167, 214);
  grid-area: d;
}
.five {
  background-color: rgb(48, 167, 214);
  grid-area: e;
}
